
{{ define "hero" }}
{{ partial "header.html" . }}
{{ end }}
{{ define "main" }}
<section class="section single-page">
  <div class="container content">
    {{ .Content }}
  </div>
</section>
{{- end -}}
