<section class="hero is-primary is-medium">
  <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ .Title }}
        </h1>
        <h2 class="subtitle">
          {{ .Params.description }}
        </h2>
      </div>
  </div>
</section>