{{ define "hero" }}
{{ partial "header.html" . }}
{{ end }}
{{- define "main" -}}
<section class="section single-page">
  <div class="container content">
    {{ .Content }}
  </div>
</section>
{{ if and (ne $.Parent.Title "Projects") (ne $.Title "Projects") }}
<section class="section list-page">
  <div class="container">{{ $paginator := .Paginator }}
    {{ range .Paginator.Pages }}

    <a href="{{.Permalink}}" class="box">
      <article class="media is-desktop">
        <div class="media-content">
          <div class="container">
            <p class="help" style="float: right; margin: 0 15px">{{.Date.Format "2 Jan 06"}}</p>
            <h2 class="title is-size-3-desktop is-size-4-touch">{{.Title}}</h2>
            <p class="content is-size-5-desktop is-size-6-touch">{{ .Summary }}</p>
          </div>
        </div>
      </article>
    </a> 

    {{ end }}
  </div>
</section>

<section class="section">
  <div class="container">
    
    {{ partial "pagination.html" }}
  
  </div>
</section>
{{ else }} {{ end }}
{{- end -}}
