{{ define "hero" }}
<section class="hero is-primary is-medium">
  <div class="hero-body">
      <div class="container">
        <h1 class="title" style="padding-top: 40px;">
          {{ .Title }}
        </h1>
        <h2 class="subtitle" style="line-height: 1.8em;">
          {{ .Params.description }}
        </h2>
        <p style="font-family: 'Times New Roman', serif; color: rgba(236, 236, 236, 0.932);">{{.Date.Format "Monday, Jan 2, 2006"}} {{ with .Params.categories }} &middot; {{ end }} {{ $taxo := "categories" }}{{ range .Param $taxo }}{{ $name := . }}{{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}<a href="{{ .Permalink }}" style="color: white; text-decoration: underline; text-transform: capitalize;">{{ $name }}</a> {{ end }}{{ end }}</p>
      </div>
  </div>
</section>
{{ end }}
{{ define "main" }}
<section class="section single-post">
  <div class="container content">
    
    {{ .Content }}

    <section class="section has-text-centered content is-small" style="margin-top: 80px;">
      {{ $taxo := "tags" }}
      <div id="{{ $taxo }}">{{ range .Param $taxo }}{{ $name := . }}{{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
        <span class="tag"><a href="{{ .Permalink }}">{{ $name }}</a></span>{{ end }}
      {{ end }}</div>  
    </section>
</section>

<section class="section">
  <div class="container">
    
    {{ partial "suggestions.html" . }}
  
  </div>
</section>
{{- end -}}
