
{{ define "hero" }}
{{ partial "header.html" . }}
{{ end }}
{{ define "main" }}

{{ $data := .Data }}

<section class="section list-page">
  <div class="container">{{ range $key, $value := .Data.Terms.ByCount }}
    <span class="tag is-large" style="margin-top: 10px; margin-bottom: 10px;">
      <a href="{{ $.Site.LanguagePrefix | absURL }}/{{ $data.Singular }}/{{ $value.Name | urlize }}/">{{ $value.Name }} ({{ $value.Count }})</a>
    </span>
  {{ end }}</div>
</section>

{{ end }}
