
{{ define "hero" }}
{{ partial "blog-header.html" . }}
{{ end }}
{{ define "main" }}
<section class="section single-archive">
  <div class="container content">
<!-- Groups content by month according to the "date" field in front matter -->
{{ range where .Site.Pages "Type" "blog" }}
  {{ range .Pages.GroupByDate "2006" }}<h2 class="subtitle has-text-centered"></h2>
    {{ range .Pages.GroupByDate "January 2006" }}<h3 class="archive-month has-text-centered">{{ .Key }}</h3>
    <ul class="archive-list">
      {{ range .Pages.GroupByDate "2" }}<li class="archive-row">
        <div class="archive-date">{{ .Key }}</div>
        {{ range .Pages }}<div class="archive-item">
          <a href="{{ .Permalink }}">{{ .Title | title}}</a>
        </div>{{ end }}
      </li>
      {{ end }}
    </ul> 
    {{ end }}     
  {{ end }}
{{ end }}

{{if ne .Params.index true}}
{{if .Menus.main.HasChildren }}
<nav class="navchildren">
  <ul>
    <!-- Children contents -->

    {{ range .Menus.main.Children }}
    <li><a href="{{.URL}}" >{{ .Name }}</a></li>
    {{ end }}

  </ul>
</nav>
{{ end }}
{{ end }}

{{if eq .Params.index true}}
<nav class="navpage">

{{ $currentNode := . }}
{{ range .Site.Menus.main }}
{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)}}
      {{ range .Children }}
      <ul>
      <li><a href="{{.URL}}">{{.Name}}</a>
      {{ if .HasChildren }}
        <ul>
        {{ range .Children }}
          <li><a href="{{.URL}}">{{.Name}}</a>
          {{ if .HasChildren }}
            <ul>
            {{ range .Children }}
            <li><a href="{{.URL}}">{{ .Name }}</a></li>
            {{ end }}
            </ul>
          {{ end }}
        {{ end }}
        </ul>
      {{ end }}
      </li>
      </ul>
      {{ end }}

{{end}}
{{end}}

</nav>
{{end}}
  </div>
</section>
{{- end -}}


