
  <footer class="footer">
    <div class="columns">
      <div class="column">
        <div class="navbar-start">
          {{ $currentPage := . }}{{ range .Site.Menus.footer1 }}
          <a class="navbar-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{ end }}" href="{{ .URL }}">
            {{ .Name }}
          </a>
          {{ end }}
        </div>
      </div>
      <div class="column">
        <div class="navbar-end">
          {{ $currentPage := . }}{{ range .Site.Menus.footer2 }}
          <a class="navbar-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{ end }}" href="{{ .URL }}">
            {{ .Name }}
          </a>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <p class="content">
          <strong>Audree</strong> Theme by Elaine Aquino<br />
          Made with &heartsuit; and Bulma
        </p>  
      </div>
    </div>
  </footer>
  
  <script>
    document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }

    });
  </script>

