{{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed") }}{{ $style := resources.Get "bulma/sass/mystyles.scss" | toCSS | minify | fingerprint | resources.ToCSS $options }}
<head>
    <title>{{ .Title }}&mdash;{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
