
  <div>
    <div>
      <nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ .Site.BaseURL }}">
              {{ if .Site.Params.logo }}<img src="/{{ .Site.Params.logo }}" style="max-height: 3rem;">{{ else }}<h1 class="title is-5">{{ .Site.Title }}</h1>{{ end }}
            </a>
    
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
    
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start">
            {{ $current := . }}{{ range .Site.Menus.main }}{{ $topLevel := replace .URL "/" "" }}
            <a class="navbar-item{{ if eq (replace $current.URL "/" "") $topLevel }} is-active{{ end }}" href="{{ .URL }}">
              {{ .Name }}
            </a>
            {{ end }}
          </div>
   
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-light" href="">
                  Button
                </a>
                <a class="button is-primary">
                  <strong>Main Button</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>


