    
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      {{ if .HasPrev }}<a href="{{ .Prev.URL }}" class="pagination-previous">&larr;</a>{{ end }}
      {{ if .HasNext }}<a href="{{ .Next.URL }}" class="pagination-next">&rarr;</a>{{ end }}
      <ul class="pagination-list">
      </ul>
    </nav>
