
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      {{ with .PrevInSection }}<a href="{{ .RelPermalink }}" class="pagination-previous">&larr; {{if gt  (.Title | strings.RuneCount) 30 }}{{ substr .Title 0 30 }}...{{ else }}{{ .Title }}{{ end }}  </a>{{ end }}
      {{ with .NextInSection }}<a href="{{ .RelPermalink }}" class="pagination-next">{{if gt  (.Title | strings.RuneCount) 30 }}{{ substr .Title 0 30 }}...{{ else }}{{ .Title }}{{ end }} &rarr;</a>{{ end }}
      <ul class="pagination-list">
      </ul>
    </nav>
