{{ define "hero" }}
<section class="hero is-primary">
  <div class="hero-body">
      <div class="container">
        <h2 class="title">
          {{ .Title }}
        </h2>
        <h3 class="subtitle">
          <a href="/">Shall we go home?</a> 🤷🏻‍♀️
        </h3>
      </div>
  </div>
</section>
{{ end }}
{{ define "main" }}

{{- end -}}
