{{ define "hero" }}
<section class="hero is-primary is-medium">
  <div class="hero-body">
      <div class="container">
        <h3 class="subtitle is-size-5-desktop is-size-6-touch" style="text-transform: uppercase;">
          {{ .Params.description }}
        </h3>
        <h2 class="title is-size-3-touch">
          {{ .Title }}
        </h2>
        <p></p>
        <form><button class="button">Learn more</button></form>
      </div>
  </div>
</section>
{{ end }}
{{ define "main" }}
{{ partial "home.html" . }}
{{- end -}}
