@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&family=Merriweather+Sans:wght@400;700&family=Nunito+Sans:wght@400;700&display=swap');

// Set your brand colors
$primary: #6699cc;
$link: #3BA0C2;
$info:rgba(146, 143, 199, 0.411);

// Set brand fonts
$primary-font: 'Nunito Sans', sans-serif;
$secondary-font: 'Merriweather Sans', sans-serif;
$display-font: 'Bodoni Moda', serif;


// Update Bulma's global variables
$title-family: $display-font;
$title-size: 2.5em;
$subtitle-family: $secondary-font;
$subtitle-size: 1.1em;
$family-sans-serif: $primary-font;
$content-blockquote-background-color: #eee;
$content-blockquote-border-left: none;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-shadow: none;

// Import only what you need from Bulma
@import "utilities/_all.sass";
@import "base/_all.sass";
@import "components/_all.sass";
@import "elements/_all.sass";
@import "form/_all.sass";
@import "grid/_all.sass";
@import "layout/_all.sass";

.single-post, .single-page, .single-archive, .list-page {
    font-size: 18px;
    line-height: 1.8em;
}

.content h2, .content h3 {
    font-family: $title-family;
}

.content p {
    padding-bottom: 0.7em;
}

.content blockquote {
    font-family: $subtitle-family;
    font-size: 1.1em;
    line-height: 1.8em;
    font-style: italic;
}

footer .content p {
    width: 100%;
}

.archive-month {
    padding-top: 20px;
}

ul.archive-list {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

.archive-row {
    padding-left: 20px;
}

.archive-date {
    float: left;
    width: 30px;
}

.archive-item {
    display: block;
    margin-left: 50px;
}
